.item {
    margin-bottom: 14px;
    display: flex;
    align-items: center;

    padding-left: 20px;
    width: 370px;
    height: 110px;

    background-color: white;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.status {
    width: 25px;
    height: 25px;
    margin-right: 20px;

    border-radius: 50%;
    background-color: green;
}

.avatar {
    margin-right: 20px;
    height: 90px;
    border-radius: 5px;
}

.name {
    font-size: 30px;
    font-weight: bold;
    color: gray;
}